@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-primary) url("./images/bg-mobile.svg") no-repeat;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 40%;
  margin: 20px 20px;
}

.illustration {
  width: 100%;
  padding: 30px;
}

.content h1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  margin: 30px 30px 0px 30px;
  line-height: 1.5;
}

.content p {
  color: #fff;
  width: 90%;
  line-height: 1.5;
}

.btn {
  font-family: inherit;
  color: var(--color-primary);
  margin: 20px 0;
  border-radius: 50px;
  border: none;
  padding: 10px 70px;
}

.btn:hover {
  background-color: var(--color-secondary);
  color: #fff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.social .fab {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0.5rem;
  color: #fff;
  font-size: 1rem;
  margin: 20px 5px;
  text-decoration: none;
}

.social .fab:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  transition: 0.2s ease-in-out;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {
  body {
    background: var(--color-primary) url("./images/bg-desktop.svg") no-repeat;
  }

  .logo {
    width: 18%;
  }

  .illustration {
    width: 60%;
  }

  .content {
    flex-direction: row;
    margin: 0 30px;
  }

  .content__detail {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .content h1 {
    margin: 0 20px;
    text-align: left;
    font-size: 3rem;
  }

  .content p {
    margin: 30px 20px;
    font-size: 1.2rem;
    text-align: left;
  }

  .btn {
    margin: 0 20px;
    padding: 20px 100px;
    font-size: 1.5rem;
  }

  .social {
    justify-content: flex-end;
    margin-right: 100px;
  }

  .social .fab {
    font-size: 2rem;
    padding: 1rem;
  }

  .attribution {
    font-size: 1rem;
  }
}
